<header>
    <span class="logo">ROPOSO</span>
    <ul class="list-inline">
        <li><a ng-href="#/list" ng-class="{selected: $route.current.active === 'list'}"><span class="fa fa-list"></span></a></li>
        <li><a ng-href="#/grid" ng-class="{selected: $route.current.active === 'grid'}"><span class="fa fa-th"></span></a></li>
    </ul>
</header>
<section class="top">
    <div class="outer">
        <div class="inner">
            <h1>ROPOSO</h1>
            <h3>Fashion Social Network</h3>
            <h4>Express your style, follow trendsetters and find amazing products on the ultimate fashion destination.</h4>
        </div>
    </div>
</section>
